// extends ../lead
//
// block content
//   form(action="/lead/" + lead.id + "/edit",method="POST")
//       input(name="lead_email", type="email",placeholder="Enter your email address", value=lead.email)
//       button(type="submit") Save

doctype html
html(lang='en')
  include ../common/head.pug
  +head("Edit Remind")
  body
    header
      include ../common/navbar.pug
      +navbar(users)
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Edit Remind
            form(action="/dashboard/remind/"+remind.id+"/edit", method="POST")

              .input-group.mb-3
                input(name="remind_category", type="text", placeholder="Enter Category").form-control
                .input-group-append

              .input-group.mb-3
                input(name="remind_title", type="text", placeholder="Enter Title").form-control
                .input-group-append

              .input-group.mb-3
                input(name="remind_dateOfRemind", type="datetime-local", placeholder="Enter Date of Remind").form-control
                .input-group-append

              //label.btn-group.mb-3
              //  input(name="remind_type", type="button", placeholder="Enter Type", id="regular", value="regular").form-control.btn-secondary
              //  input(name="remind_type", type="button", placeholder="Enter Type", id="smart", value="smart").form-control.btn-secondary
              //  .input-group-append

              mixin input1(textinput)
                  label.btn.btn-secondary
                      input#option1(type='radio' name='remind_type' autocomplete='off' value=textinput)
                      // span.label= textinput
                      // span= textinput
                      | #{textinput}
              
              mixin btn-toggle-group1(textinput)
                  .btn-group(data-toggle='button')
                      block
              
              + btn-toggle-group1
                  + input1('regular')
                  + input1('smart')

              mixin input(textinput)
                  label.btn.btn-secondary
                      input#option1(type='radio' name='remind_urgency' autocomplete='off' value=textinput)
                      // span.label= textinput
                      // span= textinput
                      | #{textinput}
              
              mixin btn-toggle-group(textinput)
                  .btn-group(data-toggle='button')
                      block
              
              + btn-toggle-group
                  + input('none')
                  + input('low')
                  + input('medium')
                  + input('high')
                  + input('urgent')


              .input-group.mb-3
                .input-group-append
                  button(type="submit").btn.btn-primary Save
    include ../common/footer.pug
    +footer()
