// doctype html
// html(lang='en')
//   include common/head.pug
//   +head("Starter MVP")
//   body
//     h1 Lead
//     p
//       span #{lead.email}
//       a(href="/lead/" + lead.id + "/edit") Edit
//
//       form(action="/lead/" + lead.id + "/delete", method="POST")
//         button(type="submit") Delete
//     include common/footer.pug
//     +footer()
doctype html
html(lang='en')
  include ../common/head.pug
  +head("Remind")
  body
    header
      include ../common/navbar.pug
      +navbar(user)
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Remind
            table.table
              thead
                tr
                  th(scope="col") Category
                  th(scope="col") Title
                  th(scope="col") notes
                  th(scope="col") Date of Remind
                  th(scope="col") Type
                  th(scope="col") Urgency
                  th(scope="col") Expired
                  th(scope="col") <>user created
                  th(scope="col") <>group
                  th(scope="col") edit
                  th(scope="col") Done/Delete
                tr
              tbody
                tr(id=remind.id)
                    td
                      span #{remind.category}
                    td
                      span #{remind.title}
                    td
                      span #{remind.notes}
                    td
                      span #{remind.dateOfRemind}
                    td
                      span #{remind.type}
                    td
                      span #{remind.urgency}
                    td
                      span #{remind.expired}
                    td
                      span #{remind.UserId}
                    td
                      span #{remind.groups_id}
                    td
                      a(href="/remind/" + remind.id + "/edit") Edit
                    td
                      form(action="/remind/" + remind.id + "/delete", method="POST")
                        button(type="submit").btn.btn-primary Delete
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
